.footer__menu-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.12;
    font-weight: normal;
    text-decoration: none;
    margin-right: 18px;
    transition: opacity 0.4s;
}

.footer__menu-link:last-of-type {
    margin-right: 0;
}

.footer__menu-link:hover {
    opacity: 0.5;
}