.places__link {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    text-decoration: underline;
    transition: opacity 0.4s;
}

.places__link:hover {
    opacity: 0.5;
}