@import url(./__logo/header__logo.css);
@import url(./__lang/header__lang.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
    margin: 0 48px;
    padding-top: 28px;
    padding-bottom: 56px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .header {
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin: 0 24px;
    }
}

@media screen and (max-width: 375px) {
    .header {
        margin: 0 16px;
        padding-top: 16px;
    }
}