.photo-grid__images {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 16px;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

@media screen and (max-width:768px) {
    .photo-grid__images {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width:640px) {
    .photo-grid__images {
        margin-left: 16px;
        margin-right: 16px;
    }
}
