@import url(./__title/intro__title.css);
@import url(./__main-text/intro__main-text.css);
@import url(./__facts/intro__facts.css);
@import url(./__fact/intro__fact.css);

.intro {
  padding-right: 30%;  
  margin: 0 auto;
  max-width: 690px;
}