.lead__image-caption {
    font-size: 10px;
    line-height: 1.4;
    font-weight: normal;
}

@media screen and (max-width:768) {
    .lead__image-caption {
        margin-left: 24px;
    }
}

@media screen and (max-width:768) {
    .lead__image-caption {
        margin-left: 16px;
    }
}