.intro__main-text {
    font-size: 16px;
    line-height: 1.6;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 36px;
}


@media screen and (max-width:375px) {
  .intro__main-text {
    margin-bottom: 32px;
  }
}