.places__link-container {
    align-self: end;
    justify-self: start;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:320px) {
    .places__link-container {
        display: none;
    }
}